@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.sidebar{
  position: fixed;
  left: -250px;
  width: 250px;
  height: 100%;
  background:white;
  transition: all .5s ease;
  

}

.sidebar header{
  font-size: 22px;
  font-family: sans-serif;
  color:grey;
  text-align: center;
  line-height: 70px;
  background: white;
  user-select: none;
}

.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size:20px;
  font-family: sans-serif;
  color:grey;
  padding-left: 40px;
  box-sizing: border-box;
  border-top: 1px solid rgba(255,255,255,.1);
  border-bottom: 1px solid rgba(255,255,255,.1);
  transition:.4s;
}

ul li:hover a{
  padding-left: 50px;
}

.sidebar ul a i{
  margin-right: 16px;
}

#check{
  display: none;
}

label #btn,label #cancel{
  position: absolute;
  cursor:pointer;
  border-radius: 3px;
}

label #btn{
  left: 30px;
  top:25px;
  font-size: 35px;
  color:grey;
  padding: 6px 12px;
  transition: all .5s;
}

label #cancel{
  z-index: 1111;
  left:-195px;
  top: 17px;
  font-size: 30px;
  color:grey;
  padding:4px 9px;
  transition: all .4s ease;
}

#check:checked ~ .sidebar{
  box-shadow: 10px 10px 100px rgba(0, 0, 0, 0.5);
  left: 0;
}

#check:checked ~ label #btn{
  left: 250px;
  opacity: 0;
  pointer-events: none;
}

#check:checked ~ label #cancel{
  left: 195px;
}

.user-logo{
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display:flex;
  margin-left: auto;
  margin-right: auto;
}

.user-email{
  color:grey;
  font-family: sans-serif;
  font-size: 10px;
  position:relative;
  top: -50px;
}

.user-name-surname{
  font-family: sans-serif;
  font-size: 20px;
}

input[type=text]{
  display:flex;
  width: 250px;
  height: 30px;
  color: rgb(93, 93, 93);
  background:#ececec;
  margin-left: auto;
  margin-right: auto;
  padding:0px 10px;
}

.container{
  width: 100%;
  height: 100%;
  box-shadow: 10px 10px 30px rgba(0,0,0,0.1);
  
  
}

.product{
  border: 2px solid #ececec;
  width: 100%;
  height: 300px;
  margin-right: 10px;
}

.producer{
  border: 2px solid #ececec;
  width: 100%;
  height: 300px;
  margin-right: 10px;
}



.image-product{
  width: 200px;
  height: 200px;
  border-radius: 10%;
  padding:15px;
  float:left;
}

.image-producer{
  width: 200px;
  height: 200px;
  padding:15px;
  float:left;
}

.category{
  height:40px;
  background:#ececec;
}

.category-name{
  color:orange;
  font-family: sans-serif;
  padding-left: 10px;
}

.button-update{
  display: block; 
  margin: auto;
  width: 250px;
  background-color: #db8c25; /* Orange */
  border-radius: 8px;
  font-weight : bold;
  border: none;
  color: white;
  padding: 14px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button-create-product{
  display:flex;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 250px;
  background-color: #db8c25; /* Orange */
  border-radius: 8px;
  font-weight : bold;
  border: none;
  color: white;
  padding: 14px 40px;
  text-decoration: none;
  font-size: 16px;

}

.button-add-to-cart{
  display: block; 
  margin: auto;
  width: 250px;
  background-color: #db8c25; /* Orange */
  border-radius: 8px;
  font-weight : bold;
  border: none;
  color: white;
  padding: 14px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.icon-carrello{
  float: right;
  width: 30px;
  height: 30px;
  padding-right: 10px;
  display: inline;
}

.cart-page{
  margin: auto;
  width: 90%;
  height: 100%;
  box-shadow: 10px 10px 30px rgba(0,0,0,0.1);
}

.tabella-ordini{
  width:100%;
  border-collapse: collapse;
}

.cart-info{
  display: flex;
  flex-wrap: wrap;
}

.th-ordini{
  text-align: left;
  padding: 5px;
  color: white;
  background:black;
  font-weight: normal;
}

.tabella-ordini td{
  padding: 10px 5px;
}

.tabella-ordini td input{
  width: 40px;
  height: 30px;
  padding: 5px;
}

.tabella-ordini td a{
  color: red;
  font-size: 12px;
}

.tabella-ordini td img{
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.total-price{
  display: flex;
  justify-content: flex-end;
}

.total-price table{
  border-top: 3px solid black;
  width: 100%;
  max-width: 400px;
}

td:last-child{
  text-align: right;
}

th:last-child{
  text-align: right;
}

canvas{
  width: 100%;
  max-width: 300px;
  height: 100%;
  max-height: 300px;
}

td{
  padding-left: 10px;
  padding-right: 10px;
}

th{
  padding-left: 10px;
  padding-right: 10px;
}

.ultimeVendite{
  width: 40%;
  border-collapse: collapse;
}

.ultimeVendite td{
  text-align: justify;
}

.ultimeVendite th{
  text-align: justify;
}
